*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  :root{
    /* ==== Colors ====== */
    --primary-color: #0E4BF1;
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #4DA3FF;
    --box2-color: #FFE6AC;
    --box3-color: #E7D1FC;
    --title-icon-color: #fff;

    --color-131921: #131921;
    --color-3b4149: #3b4149;
    --color-febd69: #febd69;
    --color-232f3e: #232f3e;
    --color-bf4800: #bf4800;
    --color-f5f5f7: #f5f5f7;
    --color-ededed: #ededed;
    --color-777777: #777777;
    --color-1c1c1b: #1c1c1b;

    /* ===== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-02: all 0.2s ease;
}
  
  .gap-10{
    gap: 10px;
  }
  .gap-15{
    gap: 15px;
  }
  .gap-30{
    gap: 30px;
  }
  
  .header-upper{
    background-color: var(--color-232f3e);
  }
  
  ul li{
    list-style: none;
  }
  a{
    text-decoration: none;
  }
  
  .button{
    background-color: var(--color-232f3e);
    color: var(--panel-color);
    padding: 13px 33px;
    border-radius: 25px;
    font-size: 14px;
  }
  .button:hover{
    background-color: var(--color-febd69);
    color: var(--color-1c1c1b);
  }

  .form-control{
    /* height: 50px; */
    background-color: var(--color-f5f5f7);
    color: var(--color-777777);
    font-size: 14px;
    border-color: transparent;
    border-radius: 10px;
  }
  .form-control:focus{
    box-shadow: none;
    border-color: inherit;
  }

  .home-wrapper-2{
    background-color: var(--color-f5f5f7);
  }

  /* Admin Sidebar  */
   
  .admin-sidebar{
    width: 250px;
    padding: 10px 14px;
    background-color: var(--color-f5f5f7);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
    overflow-y: scroll;
  }
  .admin-sidebar::-webkit-scrollbar {
    display: none;    
  }
  .admin-sidebar.close{
      width: 73px;
  }
  .admin-sidebar .logo-name{
    display: flex;
    align-items: center;
  }
  .admin-sidebar .logo-image{
    display: flex;
    justify-content: center;
    min-width: 45px;
  }
  .admin-sidebar .logo-image img{
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  .admin-sidebar .logo_name{
    margin-left: 14px;
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
    transition: var(--tran-05);
  }
  .admin-sidebar.close .logo_name{
    opacity: 0;
    pointer-events: none;
  }

  
  .admin-sidebar .menu-items{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    justify-content: space-between;
    height: calc(100% - 90px);
  }
  .menu-items li a{
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
  }
  .menu-items .nav-links{
    padding-left: unset;
  }
  .nav-links li a:hover:before,
  .nav-links li a.active:before{
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: var(--primary-color);
    left: -7px;
    border-radius: 50px;
  }
  .menu-items li a svg{
    min-width: 45px;
    color: var(--black-light-color);
    font-size: 24px;
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .admin-sidebar li a .link-name{
    color: var(--black-light-color);
    font-size: 18px;
    font-weight: 400;
  }

  .admin-sidebar.close li a .link-name{
    opacity: 0;
    pointer-events: none;
  }
  .nav-links li a:hover svg,
  .nav-links li a:hover .link-name,
  .nav-links li a.active svg,
  .nav-links li a.active .link-name{
    color: var(--primary-color);
  }

  .menu-items .logout-mode{
    padding-top: 10px;
    padding-left: unset;
    border-top: 1px solid var(--border-color);
  }
  .menu-items .logout-mode button{
    background:  none;
    border: none;
    margin-left: 1rem;
  }
  .admin-sidebar.menu-items .logout-mode form svg{
    transition: var(--tran-05);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .admin-sidebar.close .menu-items .logout-mode form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .admin-sidebar.close .menu-items .logout-mode button{
    /* opacity: 0;
    pointer-events: none; */
    margin: unset;
  }

  /* Admin Sidebar Ends Here */

  /* Admin Dashboard Main Content */

  .dashboard{
    width: calc(100% - 250px);
    position: relative;
    min-height: 100vh;
    left: 250px;
    transition: var(--tran-05);
    padding: 10px 14px;
    background-color: var(--border-color);
  }
  .admin-sidebar.close ~ .dashboard, .dashboard.close{
    left: 73px;
    width: calc(100% - 73px);
  }
  .dashboard .top{
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 250px;
    top: 0;
    height: 50px;
    align-items: center;
    padding: 10px 14px;
    width: calc(100% - 250px);
    background-color: var(--color-f5f5f7);
    transition: var(--tran-05);
  }

  .admin-sidebar.close ~ .dashboard .top, .dashboard .top.close{
    left: 73px;
    width: calc(100% - 73px);
  }
  .dashboard .top .sidebar-toggle{
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
  }

  /* Admin Dashboard Main Content Ends Here */

  /* Profile */
  .top img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .dashboard .top .profile{
    position: relative;
  }
  .dashboard .top .profile .sub-menu{
    position: absolute;
    top: 100%;
    right: 10%;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--panel-color);
    border: 1px solid var(--border-color);
    transition: var(--tran-05);
  }
  .dashboard .top .profile.close .sub-menu{
    opacity: 0;
    pointer-events: none;
  }

  .profile .sub-menu li a{
    display: flex;
    align-items: center;
    position: relative;
    color: var(--black-light-color);
  }
  .profile .sub-menu li a svg{
    margin-right: 5px;
  }
  .profile .sub-menu li a:hover:before{
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
    left: -10px;
  }
  .profile .sub-menu li a:hover{
    color: var(--primary-color);
  }

  .dashboard .dash-content {
    padding-top: 50px;
  }

  .adminProfile h5, .adminProfile h6{
    color: var(--black-light-color);
  }


  /* Profile Ends Here */

  /* Admin Auth Card */

  .adminLoginForm{
    width: 500px;
    padding: 30px;
    margin: 30px auto;
    background-color: var(--panel-color);
    border-radius: 15px;
  }
  .adminLoginForm h3{
    color: var(--color-777777);
    font-size: 19px;
    font-weight: 500;
  }
  .adminLoginForm a{
    color: var(--color-777777);
    font-size: 14px;
    font-weight: 400;
  }
  .adminLoginForm .signup{
    color: var(--color-bf4800);
    background-color: var(--border-color);
  }

  .adminLogin-wrapper{
    height: 100vh;
  }


  /* Admin Auth Card Ends Here */

  /* City CRUD */

  .form-wrapper{
    background-color: var(--panel-color);
    border-radius: 10px;
  }
  .box-wrapper .avatar img{
    width: 50px;
    height: 50px;
  }
  .boxImage img{
    width: 100px;
    height: 100px;
  }

  
  /* City CRUD Ends Here */


  

  @media (max-width:1000px) {
    .admin-sidebar {
      width: 73px;
    }
    .admin-sidebar.close {
      width: 250px;
    }
    .admin-sidebar .logo_name{
      opacity: 0;
      pointer-events: none;
    }
    .admin-sidebar.close .logo_name{
      opacity: 1;
      pointer-events: all;
    }
    .admin-sidebar li a .link-name{
      opacity: 0;
      pointer-events: none;
    }
    .admin-sidebar.close li a .link-name{
      opacity: 1;
      pointer-events: all;
    }

    .dashboard, .dashboard .top{
      left: 73px;
      width: calc(100% - 73px);
    }
    .admin-sidebar.close ~ .dashboard, .dashboard.close{
      left: 250px;
      width: calc(100% - 250px);
    }
    .admin-sidebar.close ~ .dashboard .top, .dashboard.close .top{
      left: 250px;
      width: calc(100% - 250px);
    }
    
    .admin-sidebar.open .menu-items .logout-mode form,
    .admin-sidebar .menu-items .logout-mode form{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .menu-items .logout-mode button{
      margin: unset;
    }
  }

  @media (max-width:500px) {
    .admin-sidebar {
      width: 73px;
    }
    .admin-sidebar.close {
      width: 73px;
    }
    .admin-sidebar .logo_name, .admin-sidebar.close .logo_name{
      opacity: 0;
      pointer-events: none;
    }
    .admin-sidebar li a .link-name, .admin-sidebar.close li a .link-name{
      opacity: 0;
      pointer-events: none;
    }

    .dashboard, .dashboard .top, 
    .admin-sidebar.close ~ .dashboard, .dashboard.close,
    .admin-sidebar.close ~ .dashboard .top, .dashboard.close .top
    {
      left: 73px;
      width: calc(100% - 73px);
    }
    .dashboard .top .sidebar-toggle{
      display: none;
    }
  }

  .content ul{
    display: flex;
    flex-wrap: wrap;
    margin: 12px 0;
    border: 1px solid var(--black-light-color);
    padding: 5px;
  }
  .content ul li{
    margin: 4px 3px;
    background: var(--box3-color);
    padding: 5px;
    font-size: 12px;
  }
  .content ul li svg{
    /* height: 20px;
    width: 20px; */
    margin-left: 8px;
    /* font-size: 12px; */
    cursor: pointer;
    background: var(--border-color);
    justify-content: center;
    text-align: center;
    line-height: 20px;
  }
  .content ul input, .content input{
    flex: 1;
    padding: 5px;
    /* border: none; */
    outline: none;
    font-size: 12px;
  }